/* Hover on Navbar */

/* Space between navbar  */


.navbar-nav>li {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* About us Section  */

.section_title .section_subtitle {

    margin-bottom: 7px;
    padding-left: 7px;
    font-size: 25px;
    line-height: 1;
    text-transform: uppercase;
    color: blue;
    border-left: 3px solid #bfa67a;
    font-size: 700;
    font-family: tahoma;
}

.section_main_tittle {
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 1.27;
    font-weight: 300;
}

.section_main_tittle strong {
    font-weight: 600;
}

.about-box {
    -webkit-box-shadow: 0 0 0 10px #000000 inset;
    box-shadow: 0 0 0 10px #000000 inset;
    margin: right 0;
    margin-top: 0;
    position: relative;
    display: block;
}

.box-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 3;
    transform: translateY(30px) translateX(-30px);
    -webkit-transform: translateY(30px) translateX(-30px);

}

.about-box .videopopup img {
    transform: translateY(30px) translateX(-30px);
    -webkit-transform: translateY(30px) translateX(-30px);
    width: 100%;
    z-index: 1;
}

.about-box .videopopup {
    position: absolute;
}

.sonar-wrapper {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: 20px;
}

.sonar-emitter {
    position: absolute;
    margin: 0px auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #bfa67a;
    text-align: center;
}

.sonar-emitter i {
    z-index: 10;
    font-size: 20px;
    color: white;
    margin-left: 4px;
    line-height: 32px;
}

.sonar-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 9999x;
    background-color: #bfa67a;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}

.sonar-wave {

    animation: sonarwave 2s linear infinite;
}

@keyframes sonar-wave {

    from {
        opacity: 0.4;
    }

    to {
        transform: scale(3);
        opacity: 0;
    }
}

.btn-color-background {
    -moz-user-select: none;
    background-image: -webkit-linear-gradient(145deg, #faa61f 0%, #faa61f 0%, #ed1847 100%);
    border: 1px solid #bfa67a;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 12px 48px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    vertical-align: middle;
    text-decoration: none;
}


/* About us  */
.about-us {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(about/image-2.png);
    background-size: cover;
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}

.service_heading {
    text-transform: uppercase;
    position: relative;
    font-family: 'Lobster', cursive;
}

.service_pr {
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    font-family: 'Lobster', cursive;

}

.service_heading:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 20%;
    height: auto;
}

.service .img-shadow {
    box-shadow: 0 0 30px rgba(115, 128, 157, 0.3);
}

.service .wrap-service .img-hover {
    transition: all 0.2s ease-in;
}

.service .wrap-service .img-hover:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.service .wrap-service .uneven-box {
    margin-top: 100px;
}

.service .btn-sm {
    padding: 6px 14px;
    font-size: 16px;
    background: #188ef4;
}

.sister-concern h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    background-image: url(sisterconcern/image-2);
    background-size: cover;
}

.sister-concern body {
    min-height: 200vh;
    display: grid;
    place-items: center;
    background-color: #188ef4;
}

.container {
    height: 300px;
    margin: 0% 2% 0% 2%;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-container {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide-image {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide-image img {
    width: 100%;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(20px);
}

.card-group{
    margin: 1;
    padding: 1;
}

